body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 300px 0px;
    background-color: rgb(243, 243, 172);
}

.image_container {
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
}

.d1 {
    display: flex;
    justify-content: space-around;
    font-family:"verdana";color:white;
    background-color: maroon;height: 20px;
    padding: 10px;
}

section {
    margin: 0px 200px 25px 200px;
}

img {
    width: 1200px;
    height: 280px;
}

header {
    text-align: center;
}