body {
    text-transform: uppercase;
    margin: 0px 0px 300px 0px;
    background-color: rgb(243, 243, 172);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 300px 0px;
}

h1 {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    text-transform: none;
    margin: 0px 200px 18px 200px;
}

.d1 {
    display: flex;
    justify-content: space-around;
    background-color: maroon;height: 20px;
    padding: 10px;
}

header{
    text-align: center;
}

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #fff; }
a:active { color: #ffff; }