body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px 0px 300px 0px;
    background-color: rgb(243, 243, 172);
}

h1{
    font-style: bold;
    text-align: center;
    padding: 20px;
}

h3 {
    text-transform: none;
}

p {
    text-transform: none;
    font-size: 18px;
}

ol {
    text-transform: none;
}

ul {
    text-transform: none;
}

section {
    margin: 0px 200px 0px 200px;
}

.d1 {
    display: flex;
    justify-content: space-around;
    font-family:"verdana";color:white;
    background-color: maroon;height: 20px;
    padding: 10px;
}

header {
    text-align: center;
}